body{
    background-color: white;
    border: 1px black solid;
    max-width: 650px;
    margin: 40px auto;
    padding: 10px 20px;
}

h1{
    text-align: center;
    letter-spacing: 3px;
    font-size: 30px;
}

h2{
    text-align: center;
    color: #026fe2;
    font-size: 0.8rem;
    letter-spacing: 3px;
}

.linetwo{
    font-style: italic;
}

hr{
    border: none;
    border-top: 1px solid #e0e0e0;  
    width: 85%;
    margin: 12px auto 30px;
}

p{
  text-align: left;
  max-width: 520px;     
  margin: 25px auto;    
  line-height: 1.6;
}

img{
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
  background: white;
  max-width: 650px;
  margin: 40px auto;
  padding: 60px 70px;
}

body.dark{
    background: #212121;
    color: white;
    border: 1px white solid;
}

body.dark main{
    background-color: #212121;
    color: white;
}

.container-change{
    position: absolute;
    top: 40px;
    left: 40px;
 
}
